body {
  background-color: lightgoldenrodyellow;
}

.wrapper {
  padding-top: 30px;
}

body h3 {
  margin-bottom: 25px;
}

.navbar-brand a {
  color: #ffffff;
}
.justify-content-end a {
  color: yellow;
}

.form-wrapper{
  max-width: 500px;
  margin: 0 auto;
}

.table-wrapper {
  max-width: 500px;
  margin: 20px auto;
  border: 2mm ridge lightgrey;
  border-collapse: collapse;
}
.tabela{
  border-color: red;
}
.form-wrapper hr{
  margin-top: 45px;
}

.table-wrapper {
  max-width: 1000px;
}
.buttons{
  max-width: 500px;
  white-space: nowrap;
}

.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-left: 10px;
  position: relative;
  top: 1px;
}
.edit-link:hover {
  text-decoration: none;
  color: #ffffff;
}
.comment {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: darkslateblue;
  border-color: #28a745;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.comment:hover {
  text-decoration: none;
  color: #ffffff;
}

.image img {
  margin: 20px;
  padding: 20px;
  height: 46%;
  width:46%;
  justify-content: center;
}
.mail-map a{
  color: darkviolet;
  font-size: 25px;
  margin-bottom: 100px;
  font-family: "Comic Sans MS";
}
.mail-map Iframe{
  margin-top: 40px;
}
.image p{
  background-color: lightgreen;
  text-align: center;
}
.top{
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: black; text-shadow: grey 0.1em 0.1em 0.2em;
  letter-spacing: 2px;
}
